# ignore these folders
**/.ipynb_checkpoints/
*__pycache__*
.vscode/
**/build/
**/dist/
**/.bash_history/
**/.cache/
**/.ipython/
**/.local/
**/.jupyter/
**/.config/
**/.ipynb_checkpoints/
**/.ipython/
**/.old/
**/.gnupg/
**/.keras/
**/.vscode-server/
**/old/
**/results/**
**/test/**
!**/.gitkeep
docs/build

# ignore these files
*.pyc
*~
*.run.xml
.*
!.gitignore
!.gitmodules
