openpyxl
seaborn
dask[complete]
umap-learn
ipywidgets
tensorflow_addons
pydot
nodejs
tabulate
pyDRMetrics
gdown

# Jupter lab extensions
jupyterlab
jupyterlab-git
jupyterthemes
jupyterlab-code-formatter
theme-darcula
pylantern
black
isort
jupyterlab_theme_solarized_dark
jupyterlab-drawio
jupyterlab_execute_time
jupyterlab-system-monitor
plotly
jupyter-dash
lckr-jupyterlab-variableinspector
jupyterlab-nvdashboard
jupyterlab-lsp
python-lsp-server[all]
